<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Accounts</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}finance.css" />
</head>
<body>
<h1>Asset/Liability Accounts</h1>

<ul>
{% for a in accounts %}
<li>
  <a href="{%url dm93data.qfm.views.register a.id %}">{{a.name|escape}}</a>
</li>
{% endfor %}
</ul>

<div><h2>Open Register</h2>
<form action="register">

<div>Account: <select name="acct">
{% for a in accounts %}
<option value="{{a.id}}">{{ a.name|escape }}</option>
{% endfor %}
</select>
</form>

<input type="text" name="date_start" value="yyyy-mm-dd" />
<input type="text" name="date_end" value="yyyy-mm-dd" />
<input type="submit" value="Open"/>
</div>

<div><h2>Colophon: SQL details</h2>

<ul>
 {% for q in queries %}
 <li><tt>{{q.sql}}</tt><br />{{q.time}} seconds</li>
 {% endfor %}
</ul>

</div>

<hr />
<address>
qfm by Dan Connolly Oct 2007
</address>
</body>
</html>
