<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Accounts</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}finance.css" />
</head>
<body>

<h1>Personal Finances</h1>

<div><h2>Open Register</h2>
<form action="register">

<div>Account: <select name="acct">
{% for a in accounts %}
<option value="{{a.id}}">{{ a.name }}</option>
{% endfor %}
</select>
</form>

<input type="text" name="date_start" value="yyyy-mm-dd" />
<input type="text" name="date_end" value="yyyy-mm-dd" />
<input type="submit" value="Open"/>
</div>

<hr />

<div><h2>Export</h2>
<form action="export">

<div>
<input type="text" name="from" value="yyyy-mm-dd" />
<input type="text" name="to" value="yyyy-mm-dd" />
<input type="submit" value="Export"/>
</div>
</form>

<hr />
<address>
qfm by Dan Connolly Oct 2007
</address>
</body>
</html>
