<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{account.name}} Register</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}finance.css" />

	<!-- Source file --> 
	<script type="text/javascript" src="{{ MEDIA_URL }}yui/autocomplete/autocomplete-min.js"></script> 

</head>
<body>
<h1>{{account.name}}</h1>

{% load financial %}

<table cellspacing="0">
<thead>
<tr>
 <th>Date</th>
 <th colspan="2">Payee/Category/Memo</th>
 <th>Clr</th>
 <th>Amount</th>
 <th>Balance</th>
</tr>
</thead>
{% for t in transactions %}

<tbody class="vevent">
 <tr class="trx">
  <td class="dtstart">{{t.date}}</td>
  <td class="vcard" colspan="2">
   <strong class="fn">{{t.payee}}</strong>
  </td>
  <td>&nbsp;</td>
  <td class="amt trx">{{t.amount|currency}}</td>
  <td class="amt bal"
    >{{t.balance|currency}}</td>
 </tr>

{% for s in t.split_set.all %}
 <tr class="split">
  <td>&nbsp;</td>
  <td class="ref">
{%ifequal s.acct.kind "AL"%}[{{s.acct.name}}]{%endifequal%}{%ifnotequal s.acct.kind "AL"%}{{s.acct.name}}{%endifnotequal%}{%if s.job %}/{{s.job.name}}{%endif%}</td>
  <td>{{s.memo|default_if_none:""}}</td>
  <td>{{s.clr|default_if_none:"&#160;"}}</td>
  <td class="amt">{{s.subtot|floatformat:2}}</td>
 </tr>
{% endfor %}
</tbody>
{% endfor %}
</table>

<hr />
<address>
qfm by Dan Connolly Oct 2007
</address>
</body>
</html>
